name: CI
on: [push,pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
       python-version: '3.9'
    - run: pip install -r requirements.txt
    - run: pip install -r requirements-dev.txt
    - run: black --check src/
    - run: flake8 src/
    - run: mypy src/ --ignore-missing imports --allow-untyped-defs
    - run: pytest tests/ --cov=src/
