name : Deploy and Cleanup
on :
  workflow_run:
   workflows: ["CI"]
   types : [completed]
   branches: [main]

jobs:
  deploy-and-test:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    permissions:
     id-token : write
     contents : read
    steps:
    - name : OIDC Github token
      run : |
       echo "OIDC Request URL: $ACTIONS_ID_TOKEN_REQUEST_URL"
       echo "OIDC Request Token: $ACTIONS_ID_TOKEN_REQUEST_TOKEN"
       echo "GitHub Repository: $GITHUB_REPOSITORY"
       echo "GitHub Ref: $GITHUB_REF"
    - name : Configure AWS credentials for github actions
      uses : aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502
      with : 
       role-to-assume : ${{ secrets.AWS_ROLE_ARN }}
       aws-region : us-east-1
       
       
    - name : checkout code
      uses : actions/checkout@v3
    - name : Setup Terraform
      uses : hashicorp/setup-terraform@v2

    - name: Deploy code and layer
      run: |
       mkdir =p layer/python
       pip install =r requirements/txt -t layer/python/
       cd layer && zip -r ../lambda_layer.zip python/ cd..
       cd src && zip -r ../weather-collector.zip . && cd .. && zip -r weather-collector.zip config/
       aws s3 cp lambda_layer.zip s3://weather-code-bucket-11-07-2025-12-20-avar/
       aws s3 cp weather-collector.zip s3://weather-code-bucket-11-07-2025-12-20-avar/

    - name: Create AWS Resources using Terraform
      run: |
       cd terraform
       terraform init
       terraform apply -var="create_ephemeral_resources_flag=true" -auto-approve

    - name: Deploy Lambda aws_lambda_function
      run: |
       aws lambda update-function-code \
       --function-name weather-collector-lambda \
       --s3-bucket weather-code-bucket-11-07-2025-12-20-avar \
       --s3-key weather-collector.zip


